body {
    font-family: Arial, sans-serif;
    background-color: #343A40; 
    color: #495057; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/Mitsukuni-realizzato-da-Utagawa-Kuniyoshi-歌川-国芳-nel-1844.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

h1 {
    color: #343A40; 
}

p {
    color: #495057; 
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    color: #F8F9FA; 
    background-color: #495057; 
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #212529; 
}

.assembly, .memorie, .corsi, .progetto-finale, .home {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}
