body {
    font-family: Arial, sans-serif;
    background-color: #343A40; 
    color: #495057; 
    margin: 0;
}

.container {
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: black; 
    font-size: 36px;
}

.icon-container {
    display: inline-block;
    margin-right: 10px;
}

.circular-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

main {
    padding: 20px;
    text-align: center;
}

.stili {
    margin-bottom: 30px;
}

.image-container {
    display: inline-block;
    margin-right: 20px;
}

.image-container img {
    max-width: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.image-container p {
    color: #E9ECEF; 
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
